body,html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.header {
    background: #4169e1;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
    font-weight: bold;
}

.content {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}


.card {
    width: 320px;
    height: 480px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-image {
    height: 40%;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
    text-align: center;
}

.btn {
    margin-top: auto;
    display: inline-block;
    padding: 10px 20px;
    background: #111;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}