
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    background: #111;
    color: #fff;
    padding: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.container {
    display: flex;
    gap: 30px;
    padding: 40px;
}


.sidebar {
    width: 260px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.sidebar h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 18px 0;
    font-size: 22px;
    color: #333;
}

.content {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}


.cards {
    display: flex;
    gap: 25px;
}

.card {
    background: white;
    width: 280px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.card h3 {
    font-size: 24px;
    margin: 15px 0 5px 0;
}

.card p {
    font-size: 18px;
    color: #333;
}


.footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 20px;
}
